.app-header {
  background-color: var(--header-bgColor);
  font-size: calc(10px + 2vmin);
  color: var(--header-fgColor);
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'hero hero hero'
    'main-content main-content main-content'
    'main-content main-content main-content';
}

.hero {
  grid-area: hero;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.main-content {
  grid-area: main-content;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
