.feed__item {
  display: flex;
  height: 3em;
  width: 100%;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: solid var(--rowBorder-Color) 1px;
  background-color: var(--row-Color);
  font-size: 13pt;
}

.feed__item:hover {
  cursor: pointer;
  background-color: var(--hover-Color) !important;
}

a.feed__item {
  color: inherit;
  text-decoration: none;
}

.feed__item--author {
  color: var(--secondaryText-Color);
  padding-left: 1em;
}

.feed__item--info {
  display: flex;
  flex: 2;
  padding-left: 2em;
}

.feed__item--createdAt {
  display: flex;
}

.feed__item--action {
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
}
