:root {
  --header-bgColor: #282c34;
  --header-fgColor: #fafafa;
  --bg-Color: #fafafa;
  --font-Color: #333;
  --secondaryText-Color: #999;
  --hover-Color: #e3e3e3;
  --row-Color: #fff;
  --rowBorder-Color: #ccc;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background-color: var(--bg-Color);
}
